<div class="container">

  <div>

  <div class="inner-container">
        <button class="btn btn-primary me-2" (click)="decrease()"><</button>
      <div>
        <img [src]="images[index]" class="rounded mx-auto d-block  shadow-lg p-3 mb-5 bg-white rounded" width="300px" height="300px" style="margin:10px" alt="">
      </div>
      <button   class="btn btn-primary ms-2 " (click)="increase()">></button>
</div>

<div class="inner-container-2">

<div class="index" [ngStyle]="{ 'background-color':index==idx?'blue':'white' }" (click)="changeImage(idx)" *ngFor="let i of images;let idx=index">
  

</div>


</div>

</div>

</div>